.button-container {
    height: 24px;
    width: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3px;

    .shuffle {
        height: 15px
    }

    .backward, .forward {
        height: 12px
    }

    .play {
        height: 10px
    }

    .loop {
        height: 14px
    }
}