.title-bar {
    &-container {
        background: linear-gradient(90deg, #000080 0%, #1084D0 100%);
        height: 20px;
        display: flex;
        flex-direction: row;
        margin: 2px;
        margin-bottom: 0;
        border: 2px solid #C0C0C0;
        justify-content: space-between;
    }

    &-left, &-right {
        height: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
        font-family: 'MSSansSerif', sans-serif;
        text-shadow: 0.5px 0px white, 1.5px 0px white; color: transparent; letter-spacing: 1px;
        font-size: 12px;

        img {
            width: 12px;
            height: 12px;
        }
    }

    &-left {
        margin-left: 2px;

        img {
            margin-right: 3px;
        }
    }

    &-right {
        margin-right: 2px;
    }

    &-button {
        width: 15px;
        height: 13px;
        background-color: #C0C0C0;
        border-top: 1.5px solid #FFF;
        border-left: 1.5px solid #FFF;
        border-right: 1.5px solid #000;
        border-bottom: 1.5px solid #000;
        box-shadow:
        inset 1.5px 1.5px #DFDFDF,
        inset -1.5px -1.5px #808080;

        &.close, &.maximize, &.minimize {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &.close img {
            width: 8px;
            height: 7px;
        }

        &.maximize {
            margin-right: 2px;
            img {
                width: 9px;
                height: 9px;
            }
        }
        

        &.minimize {
            position: relative;
            img {
                position: absolute;
                bottom: 3px;
                left: 4px;
                width: 6px;
                height: 2px;
            }
        }
        
    }
}

