$titleBarSize: 1.5rem;
$borderSize: 2px;
$negativeBorderSize: -2px;

.title-bar {
    &-container {
        background: linear-gradient(90deg, #000080 0%, #1084D0 100%);
        height: $titleBarSize;
        display: flex;
        flex-direction: row;
        margin: $titleBarSize * 0.1;
        margin-bottom: 0;
        border: $titleBarSize * 0.1 solid #C0C0C0;
        justify-content: space-between;
    }

    &-left, &-right {
        height: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
        font-family: 'MSSansSerif', sans-serif;
        text-shadow: 0.5px 0px white, 1.5px 0px white; 
        color: transparent; 
        letter-spacing: 1px;
        font-size: $titleBarSize * 0.6;

        img {
            width: $titleBarSize * 0.6;
            height: $titleBarSize * 0.6;
        }
    }

    &-left {
        margin-left: $titleBarSize * 0.1;

        img {
            margin-right: $titleBarSize * 0.15;
        }
    }

    &-right {
        margin-right: $titleBarSize * 0.1;
    }

    &-button {
        width: $titleBarSize * 0.75;
        height: $titleBarSize * 0.65;
        background-color: #C0C0C0;

        &.close, &.maximize, &.minimize {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &.close img {
            width: $titleBarSize * 0.4;
            height: $titleBarSize * 0.35;
        }

        &.maximize {
            margin-right: $titleBarSize * 0.1;
            img {
                width: $titleBarSize * 0.45;
                height: $titleBarSize * 0.45;
            }
        }
        

        &.minimize {
            position: relative;
            img {
                position: absolute;
                bottom: $titleBarSize * 0.15;
                left: $titleBarSize * 0.2;
                width: $titleBarSize * 0.3;
                height: $titleBarSize * 0.1;
            }
        }
        
    }
}

