:root {
  // font-size: 25px;
}

$borderSize: 2px;
$negativeBorderSize: -2px;

.app-container {
  background-color: #008080;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .spotify-container {
    width: 58rem;
    background-color: #C0C0C0;

    .spotify-main-container {
      width: auto;
      height: 41rem;
      background-color: #C0C0C0;
      margin: $borderSize;
      margin-top: $borderSize * 4;
      border: $borderSize solid #C0C0C0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .spotify-left-right-container {
        display: flex;
        width: 100%;

        .spotify-left-side {
          width: 20%;
          margin: 0 4px;

          .left-side-navigation {
            .main-navigation {
              margin-bottom: 6px;

              &>* {
                margin-bottom: 3px;
              }
            }

            .user-navigation {
              margin: 6px 0;

              &>.navigation-button {
                margin-bottom: 6px;
              }
            }
          }
        }
      }

      .spotify-player-block {
        height: 4.5rem;
        margin: 4px;
      }
    }
  }
}

.border {
  border-top: $borderSize solid #FFF;
  border-left: $borderSize solid #FFF;
  border-right: $borderSize solid #000;
  border-bottom: $borderSize solid #000;
  box-shadow:
    inset $borderSize $borderSize #DFDFDF,
    inset $negativeBorderSize $negativeBorderSize #808080;
}

.active-border {
  border-top: $borderSize solid #000;
  border-left: $borderSize solid #000;
  border-right: $borderSize solid #FFF;
  border-bottom: $borderSize solid #FFF;
  box-shadow:
    inset $borderSize $borderSize #808080,
    inset $negativeBorderSize $negativeBorderSize #DFDFDF;
}

a {
  text-decoration: none;
}

hr {
  border: none;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #808080;
  margin: auto;
}

hr.title-bar-divider {
  border: none;
  border-top: $borderSize solid #808080;
  border-bottom: $borderSize solid #000;
  margin: auto $borderSize;
}