:root {
  // font-size: 25px;
}

$borderSize: 2px;
$negativeBorderSize: -2px;

.app-container {
  background-color: #008080;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .spotify-container {
    width: 58rem;
    height: 42rem;
    background-color: #C0C0C0;
    border-top: $borderSize solid #FFF;
    border-left: $borderSize solid #FFF;
    border-right: $borderSize solid #000;
    border-bottom: $borderSize solid #000;
    box-shadow:
      inset $borderSize $borderSize #DFDFDF,
      inset $negativeBorderSize $negativeBorderSize #808080;
  }
}

hr {
  border: none;
  border-top: $borderSize solid #808080;
  border-bottom: $borderSize solid #000;
  margin: auto $borderSize;
}