$borderSize: 2px;
$negativeBorderSize: -2px;

.navigation-button {
    height: 32px;
    font-family: 'MSSansSerif', sans-serif;
    color: #222;
    font-size: 0.75rem;
    background-color: #C0C0C0;
    border-top: $borderSize solid #FFF;
    border-left: $borderSize solid #FFF;
    border-right: $borderSize solid #000;
    border-bottom: $borderSize solid #000;
    box-shadow:
        inset $borderSize $borderSize #DFDFDF,
        inset $negativeBorderSize $negativeBorderSize #808080;
    display: flex;
    align-items: center;
    margin-bottom: 3px;

    img {
        height: 1rem;
        width: 1rem;
        margin-left: 8px;
    }

    span {
        margin-left: 6px;
    }

    &.active {
        border-top: $borderSize solid #000;
        border-left: $borderSize solid #000;
        border-right: $borderSize solid #FFF;
        border-bottom: $borderSize solid #FFF;
        box-shadow:
            inset $borderSize $borderSize #808080,
            inset $negativeBorderSize $negativeBorderSize #DFDFDF;
    }
}